<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./scss/style.css">
</head>

<body>
    <div id="container_card">
        <div id="background"></div>

        <div class='container_card'>
            <h1 class="look2">tableau de bord</h1>
            <h1 id="title2" class="margin-top">netodoBook</h1>
            <h2>
                <%= username123 %>
                    <span class="highlight">Hello!</span>
            </h2>
            <section class='card'>
                <div class='card_inner'>
                    <div class='card_inner__circle'>
                        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/rocket.png'>
                    </div>
                    <div class='card_inner__header'>
                        <img src='http://www.pixeden.com/media/k2/galleries/343/002-city-vector-background-town-vol2.jpg'>
                    </div>
                    <div class='card_inner__content'>
                        <div class='title'>Mon</div>
                        <div class='price'>Agenda</div>
                    </div>
                    <div class='card_inner__cta'>
                        <button>
                            <span>accéder</span>
                        </button>
                    </div>
                </div>
            </section>
            <section class='card'>
                <a href="/calender">
                    <div class='card_inner'>
                        <div class='card_inner__circle'>
                            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/cog.png'>
                        </div>
                        <div class='card_inner__header'>
                            <img src='https://www.5genergy.ca/wp-content/uploads/2016/01/free-vector-modern-city_093317_bluecity1.jpg'>
                        </div>
                        <div class='card_inner__content'>
                            <div class='title'>Mon</div>
                            <div class='price'>Compte</div>
                        </div>
                        <div class='card_inner__cta'>
                            <button>
                                <span>
                                    <a href='' target='_blank'>accéder</a>
                                </span>
                            </button>
                        </div>
                    </div>
                </a>
            </section>
            <section class='card'>
                <a href="/todo">
                    <div class='card_inner'>
                        <div class='card_inner__circle'>
                            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/paperplane.png'>
                        </div>
                        <div class='card_inner__header'>
                            <img src='https://c7.uihere.com/files/859/510/385/abstract-forest-landscape.jpg'>
                        </div>
                        <div class='card_inner__content'>
                            <div class='title'>ToDo</div>
                            <div class='price'>Listes</div>
                        </div>
                        <div class='card_inner__cta'>
                            <button>
                                <span>accéder</span>
                            </button>
                        </div>
                    </div>
                </a>
            </section>
        </div>
    </div>

    <div class="container-nav">
        <nav class="menu">
            <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
            <label class="menu-open-button" for="menu-open">
                <span class="hamburger hamburger-1"></span>
                <span class="hamburger hamburger-2"></span>
                <span class="hamburger hamburger-3"></span>
            </label>

            <a href="#" class="menu-item"> <i class="fa fa-tasks"></i> </a>
            <a href="#" class="menu-item"> <i class="fa fa-clock-o"></i></a>
            <a href="#" class="menu-item"> <i class="fa fa-sign-out"></i></a>
            <a href="#" class="menu-item"> <i class="fa fa-sticky-note-o"></i></a>
            <a href="#" class="menu-item"> <i class="fa fa-cog"></i> </a>
            <a href="#" class="menu-item"> <i class="fa fa-calendar"></i> </a>

        </nav>


        <!-- filters -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="shadowed-goo">

                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                        result="goo" />
                    <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
                    <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2"
                        result="shadow" />
                    <feOffset in="shadow" dx="1" dy="1" result="shadow" />
                    <feComposite in2="shadow" in="goo" result="goo" />
                    <feComposite in2="goo" in="SourceGraphic" result="mix" />
                </filter>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                        result="goo" />
                    <feComposite in2="goo" in="SourceGraphic" result="mix" />
                </filter>
            </defs>
        </svg>
    </div>
</body>

</html>